.DS_Store
Thumbs.db

# Entornos y dependencias
venv/
.env/
__pycache__/
*.pyc
*.png
.venv/
.python-version
.ipynb_checkpoints/
.build/

# Directorios grandes o generados
olds/
data_copia/
output/
models/
data/explanations_eng_visualizations/
model_output_visualization/explanations_eng_visualizations/
visualizations/
visualization_utils/
notebooks/
model_output_backup0511/
model_output_backup0711/
results/
data\ copia/
repo-backup.git/
semantic_oboe.egg-info/
error_analysis/

# Ignorar notebooks y resultados
*.ipynb
