.DS_Store
Thumbs.db

# Entornos y dependencias
venv/
.env/
__pycache__/
*.pyc
*.png
.venv
.venv/*
*.pyc
.python-version
.ipynb_checkpoints
.ipynb_checkpoints/*
.build
.build/*
./olds/*
./olds
./data_copia
./data_copia/*
./output
./output/*
./models
./models/*
./data/explanations_eng_visualizations
./model_output_visualization/explanations_eng_visualizations
./visualizations/*
./visualizations_utils/*
./notebooks/*
*.ipynb
./model_output_backup0511/*
./model_output_backup0711/*
./results/*
./error_analysis/*

