version: '3.8'
services:
  corenlp:
    image: nlpbox/corenlp
    ports:
      - "9000:9000"
    command: >
      java -mx32g -cp "*" edu.stanford.nlp.pipeline.StanfordCoreNLPServer
      -annotators "tokenize,ssplit,pos,lemma,ner,parse,depparse,natlog,openie"
      -timeout 100000 -port 9000 -host 0.0.0.0

  dbpedia:
    image: dbpedia/dbpedia-spotlight
    container_name: dbepdia-spotlight.en
    volumes:
      - spotlight-model:/opt/spotlight
    restart: unless-stopped
    ports:
      - "0.0.0.0:2222:80"
    command: /bin/spotlight.sh en -w 12
    environment:
      - JAVA_OPTS=-Xms4G -Xmx24G
volumes:
      spotlight-model:
        external: false